{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link fonnt -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/static.css' %}">
    <title>Cake jsson</title>
</head>
<body>
    <div class="container">
        <main>
            <h1>Selamat datang di cake jsson</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum ducimus, illum optio quas similique laboriosam distinctio tempore eaque repellat officia? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur modi quaerat necessitatibus sapiente assumenda, tenetur maxime autem earum facilis, perferendis voluptates! Enim sequi iusto ex quo voluptas consequuntur iste ad.</p>
        </main>
        <div class="menu-bar">
            <li><a href="/about">Klik Kunjungi!</a></li>
        </div>
    </div>    
</body>
</html>